@-webkit-keyframes spinner {
    0% {
      visibility: visible;
      opacity: 0.9;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes spinner {
    0% {
      visibility: visible;
      opacity: 0.9;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes spinner-border {
    0% {
      visibility: visible;
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes spinner-border {
    0% {
      visibility: visible;
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
    }
  }
  @-webkit-keyframes spinner {
    0% {
      visibility: visible;
      opacity: 0.9;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }